<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<body>
<h1>비밀번호 재설정</h1>
<form th:action="@{/user/reset_password}" method="post" th:object="${resetPasswordDTO}">
    <input type="password" th:field="*{newPassword}" placeholder="새 비밀번호"><br>
    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color:red"></p>
    <input type="password" th:field="*{newPasswordConfirm}" placeholder="새 비밀번호 확인"><br>
    <p th:if="${error}" th:text="${error}" style="color:red"></p>
    <button type="submit">변경하기</button>
</form>
</body>
</html>